<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitTesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBD03B9C1BEBC89E0078C6EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD03BB81BEBC89F0078C6EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD03BC31BEBC89F0078C6EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
